img{
    width: 200px;
    margin: 20px;
}

#profileImg{
    text-align: center;
}

#profileInfo{
    margin: 10px;
}

#profileInfo p {
    font-size: small;
    color: darkgrey;
}

#profileInfo h1 {
    font-size: large;
}

ion-button{
    margin: 10px;
    margin-top: 20px;
}

#profileImg img{
    border-radius: 50%;
}