<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Temas e intereses
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-list>

    <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
      <ion-item *ngFor="let topic of topics">
        <ion-label>{{topic}}</ion-label>
        <ion-reorder slot="start"></ion-reorder>
        <ion-toggle checked color="success"></ion-toggle>
      </ion-item>
    </ion-reorder-group>

    
  </ion-list>

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
