<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App Articulos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-icon name="business-outline" slot="end"></ion-icon>
        <ion-card-subtitle>Tecnologia, Innovación</ion-card-subtitle>
      </ion-item>
      <ion-card-title>Grandes compañias tecnoligicas buscan quitar la contraseña para iniciar sesion</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In doloremque, debitis porro enim ex ipsum officiis dolore sed voluptas quae odit vitae amet voluptatibus odio, incidunt et error minima nam!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../assets/imgs/rover.jpg" alt="">
    <ion-card-header>
      <ion-item>
        <ion-icon name="planet-outline" slot="end"></ion-icon>
        <ion-card-subtitle>Universo</ion-card-subtitle>
      </ion-item>
      <ion-card-title>Rover Perseverance de la NASA capta un eclipse solar desde Marte</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In doloremque, debitis porro enim ex ipsum officiis dolore sed voluptas quae odit vitae amet voluptatibus odio, incidunt et error minima nam!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../assets/imgs/IA.jpg" alt="">
    <ion-card-header>
      <ion-item>
        <ion-icon name="bulb-outline" slot="end"></ion-icon>
        <ion-card-subtitle>Cultura, Tecnologia</ion-card-subtitle>
      </ion-item>
      <ion-card-title>Brainstorm: Inteligencia artificial y el futuro de la religion</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In doloremque, debitis porro enim ex ipsum officiis dolore sed voluptas quae odit vitae amet voluptatibus odio, incidunt et error minima nam!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-icon name="business-outline" slot="end"></ion-icon>
        <ion-card-subtitle>Articulo</ion-card-subtitle>
      </ion-item>
      <ion-card-title>Grandes compañias tecnoligicas buscan quitar la contraseña para iniciar sesion</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In doloremque, debitis porro enim ex ipsum officiis dolore sed voluptas quae odit vitae amet voluptatibus odio, incidunt et error minima nam!
    </ion-card-content>
  </ion-card>

  

</ion-content>
